<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>云顶之奕 装备合成图</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="http://lol.qq.com/act/AutoCMS/publish/LOLAct/TFTHeroesData/TFTHeroesData.js"></script>
    <script src="http://lol.qq.com/act/AutoCMS/publish/LOLAct/TFTrace/TFTrace.js"></script>
    <script src="http://lol.qq.com/act/AutoCMS/publish/LOLAct/TFTjob/TFTjob.js"></script>
    <script src="http://lol.qq.com/act/AutoCMS/publish/LOLAct/TFTequipment/TFTequipment.js"></script>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="lolchess.css">
</head>

<body>
    <div id="table0">
        <table>
			<tr v-for="i in ReorderList.length">
				<td v-for="j in ReorderList.length">
					<div   v-if="i+j>2 && i + j < ReorderList.length +3" > <!-- 去掉左上角 , 去掉右下角> -->
                        <div class="left">
								<img :src="getImgUrl(i,j)" :i='i' :j='j'>
                        </div>
						<div class="right">
							<div class="info"> 
								{{getName(i,j)}}<br>
								{{getInfo(i,j)}}
							</div>
						</div>
                    </div>
				</td>
			</tr>
        </table>
	</div>
	<script>

        // 计算得到TFT_EQUIP_LIST：从TFTequipment_List中，根据每个物品的equipmentId得到
        var TFT_EQUIP_LIST={};

        // 得到竖的顺序：铲子，腰带，魔抗，护甲，水滴，攻速，大棒，大剑，新增。。。。
        ReorderList = ["4000", "1011", "1057", "1031", "3070", "1043", "1058", "1038"];
        EQUIP_TABLE = {}
        for (var i in TFTequipment_List){
            item = TFTequipment_List[i];
            // 计算 TFT_EQUIP_LIST
            TFT_EQUIP_LIST[item['equipmentId']]=item;
            // 计算 ReorderList
            if(!item['eq_formula'] && ReorderList.indexOf(item['equipmentId']) == -1){ 
                ReorderList.push(item['equipmentId']);

            }
            // 计算关系图
            if(item['eq_formula']){
                //成品装备
                eq_formulas = item['eq_formula'].split(",");
                if(!EQUIP_TABLE[eq_formulas[0]])EQUIP_TABLE[eq_formulas[0]]={};
                EQUIP_TABLE[eq_formulas[0]][eq_formulas[1]] = item;
                if(!EQUIP_TABLE[eq_formulas[1]])EQUIP_TABLE[eq_formulas[1]]={};
                EQUIP_TABLE[eq_formulas[1]][eq_formulas[0]] = item;
            }else{
                if(!EQUIP_TABLE["0"])EQUIP_TABLE["0"]={};
                EQUIP_TABLE["0"][item['equipmentId']]=item;
                if(!EQUIP_TABLE[item['equipmentId']])EQUIP_TABLE[item['equipmentId']]={};
                EQUIP_TABLE[item['equipmentId']]['0']=item;
            }
        }
    // 合成表
    // 计算显示顺序
     var ReorderList1 = ReorderList.concat()
     ReorderList1.unshift("0")
     var ReorderList2 = ReorderList.concat().reverse()
     ReorderList2.unshift("0")
var table0 = new Vue({
    el: '#table0',
    data: {
        ReorderList:ReorderList1,
        ReorderList_row:ReorderList2,
        EQUIP_TABLE:EQUIP_TABLE
    },
    methods:{
        getItem:function(i,j){
            i --;
            j --;
            // console.log("--------")
            // console.log(this.ReorderList[i])
            // console.log(this.ReorderList_row[j])
            return this.EQUIP_TABLE[this.ReorderList[i]][this.ReorderList_row[j]]
        },
        getImgUrl: function (i,j){
            // console.log("============")
            item = this.getItem(i, j)
            // console.log(item)
            return "https://game.gtimg.cn/images/lol/tft/items/"+item['equipmentId']+".png"
            
        },
        getName:function(i,j){
            item = this.getItem(i, j)
            // console.log(infoObj)
            var eq_name = item?item["eq_name"]:""
            // console.log(eq_name)
            return eq_name
            // return infoObj.eq_name
        },
        getInfo:function(i,j){
            item = this.getItem(i, j)
            // console.log(infoObj)
            var eq_effect = item?item["eq_effect"]:""
            // console.log(eq_effect)
            return eq_effect
        },
    }
})
</script>

<!-- // 英雄羁绊图 -->
<div id="table1">
        <table>
			<tr v-for="i in [0,10,5,1,2,4,8,3,7,9,6]">
				<td v-for="j in [0,8,7,4,9,6,11,12,13,5,1,2,10,3,14]" :n="fetter[i][j].length">
                    <div v-if="j==0 && i != 0 ">
                            {{getJobName(i)}}({{getJobLevelNames(i)}})
                            <div class="getJobIntroduce">
                                {{getJobIntroduce(i)}}
                                <p v-for="level in getJobLevels(i)">
                                        {{level['name']}}:{{level['describe']}}
                                </p>
                            </div>
                    </div>
                    <div v-if="i==0 && j != 0 ">
                            {{getRaceName(j)}}({{getRaceLevelNames(j)}})
                            <div class="getJobIntroduce">
                                {{getRaceIntroduce(j)}}
                                <p v-for="level in getRaceLevels(j)">
                                        {{level['name']}}:{{level['describe']}}
                                </p>
                            </div>
                    </div>
                    <!-- 添加图片，列表，0到3个 -->
                    <div v-for="heroIndex in fetter[i][j]" class="hero">
                        <img :src="getHeroImgUrl(heroIndex)" :title="getHeroName(heroIndex)">
                        <span class="price">{{getHeroPrice(heroIndex)}}</span>
                    </div>
				</td>
			</tr>
        </table>
	</div>
<script>

// TFTrace_List
// TFTjob_List
// TFTHeroesData_List

// console.log(Object.keys(TFTrace_List).length)
// console.log(Object.keys(TFTjob_List).length)
// init fetter array
fetter = [];
for (let i = 0; i < Object.keys(TFTjob_List).length+1; i++) {
	fetter[i]=[];
	for (let j = 0; j < Object.keys(TFTrace_List).length+1; j++) {
		fetter[i][j]=[];
	}
}

// console.log(fetter);
for (const heroIndex in TFTHeroesData_List) {
	// console.log(heroIndex);
	var hero = TFTHeroesData_List[heroIndex];
	races = [hero['race'],hero['otherrace']]
	jobs = [hero['job'],hero['otherjob']]
	races.forEach(race => {
		if (race){
			// console.log(race)
			jobs.forEach(job => {
				if(job){
				// console.log(job)
					fetter[parseInt(job)][parseInt(race)].push(heroIndex)
				}
			});
		}
	});
}
// console.log(fetter);
var table1 = new Vue({
  el: '#table1',
  data: {
    fetter:fetter,
  },
  methods: {
        getHeroId:function(heroIndex){
			return TFTHeroesData_List[heroIndex]['heroId']
        },
        getHeroImgUrl:function(heroIndex){
			return 'https://game.gtimg.cn/images/lol/tft/cham-icons/'+this.getHeroId(heroIndex)+'.png';
			
        },
        getHeroPrice:function(heroIndex){
			return TFTHeroesData_List[heroIndex]['price']
        },
        getHeroName:function(heroIndex){
			return TFTHeroesData_List[heroIndex]['hero_tittle'] + " " + TFTHeroesData_List[heroIndex]['hero_name']
        },

        getJobName:function(jobId){
            return TFTjob_List[jobId]["job_name"]
        },
        getJobLevelNames:function(jobId){
            var levels = TFTjob_List[jobId]["level"]
            var res = ''
            levels.forEach(level => {
                if(res != '') res += "/"
                res += level['name']
            });
            return res
        },
        getJobLevels:function(jobId){
            return TFTjob_List[jobId]["level"]
        },
        getJobIntroduce:function(jobId){
            return TFTjob_List[jobId]["introduce"]
        },
        // race
        
        getRaceName:function(raceId){
            return TFTrace_List[raceId]["race_name"]
        },
        getRaceLevelNames:function(raceId){
            var levels = TFTrace_List[raceId]["level"]
            var res = ''
            levels.forEach(level => {
                if(res != '') res += "/"
                res += level['name']
            });
            return res
        },
        getRaceLevels:function(raceId){
            return TFTrace_List[raceId]["level"]
        },
        getRaceIntroduce:function(raceId){
            return TFTrace_List[raceId]["introduce"]
        },
    }
})
</script>
</body>
</html>
